*{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
	background-image: url('../img/fundo-matrix.jpg');
}

.wrapper {
	width: 924px;
	height: auto;
	margin: 0 auto; 
}

.home .logo {
	width: 290px; 
	height: 534px;
	background-image: url('../img/logo-fiap.png');
	background-repeat: no-repeat;
	top: 1px;
	position: absolute;
}

.home .wrapper #form-login{
	width: 450px;
	margin: auto;
	margin-top: 170px;
	background-image: url('../img/login.png');
	background-repeat: no-repeat;
	height: 200px;
	padding: 52px 32px;
	padding: 52px 32px;
	text-align: right;
}

.home .wrapper #form-login.cpf{
	width: 630px;
	height: 336px;
	margin: auto;
	margin-top: 170px;
	background-image: url('../img/login-cpf.png');
	background-repeat: no-repeat;
	padding: 52px 32px;
	padding: 52px 32px;
	text-align: right;
}

.home .wrapper #form-login.cpf .nome{
	margin-top: 20px;
	height: 55px;
	font-size: 36PX;
}

.home .wrapper #form-login.cpf .cpf{
	margin-top: 64px;
	height: 55px;
	font-size: 36PX;
}

.home .wrapper #form-login.cpf .botao{
	margin-top: 10px;
	margin-right: 31px;
	font-size: 27px;
}

.home .wrapper #form-login.cpf .pirulas{
	width: 200px;
	height: 240px;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	padding-top: 35px;
	margin-top: 35px;
}

.home .wrapper #form-login.cpf .pirulas.verde {
	background-image: url('../img/pirula-verde.png');
}

.home .wrapper #form-login.cpf .pirulas.vermelha {
	background-image: url('../img/pirula-vermelha.png');
}

.home .wrapper #form-login.cpf .pirulas span {
	font-size: 32px;
	color: white;
}

.home .wrapper #form-login .botao{
	position: relative;
	background-color: initial;
	border: none;
	font-size: 22px;
	right: 22px;
	bottom: 7px;
}

.home .wrapper #form-login .erro{
	margin-top: 14px;
}

.home .wrapper h1{
	font-size: 50px;
	text-align: center;
	color: rgb(44, 231, 44);
	padding-top: 13px;
}

.msg-erro{
	position: absolute;
	color: red;
	right: 8px;
}

.msg-erro.nome{
	top: 89px;
}

.msg-erro.telefone{
	top: 148px;
}

.msg-erro.celular{
	top: 207px;
}

.msg-erro.email{
	top: 266px;
}

.fixed{
	position: fixed;
	z-index: 999;
	left: 85px;
	top: 270px;
	width: 160px;
	height: 160px;
}

.fixed a{
	width: 160px;
	height: 160px;
	display: block;
}