*{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
	background-image: url('../img/fundo-matrix.jpg');
}

.wrapper {
	width: 924px;
	height: auto;
	margin: 0 auto; 
}

.home .logo {
	width: 290px; 
	height: 534px;
	background-image: url('../img/logo-fiap.png');
	background-repeat: no-repeat;
	top: 1px;
	position: absolute;
}

.home .wrapper #form-login{
	width: 450px;
	margin: auto;
	margin-top: 170px;
	background-image: url('../img/login.png');
	background-repeat: no-repeat;
	height: 200px;
	padding: 52px 32px;
	padding: 52px 32px;
	text-align: right;
}

.home .wrapper #form-login.cpf{
	width: 630px;
	height: 336px;
	margin: auto;
	margin-top: 170px;
	background-image: url('../img/login-cpf.png');
	background-repeat: no-repeat;
	padding: 52px 32px;
	padding: 52px 32px;
	text-align: right;
	position: relative;
}

.home .wrapper #form-login.cpf .nome{
	margin-top: 20px;
	height: 55px;
	font-size: 36PX;
}

.home .wrapper #form-login.cpf .cpf{
	margin-top: 64px;
	height: 55px;
	font-size: 36PX;
}

.home .wrapper #form-login.cpf .botao{
	margin-top: 10px;
	margin-right: 31px;
	font-size: 27px;
}

.home .wrapper #form-login.cpf .pirulas{
	width: 200px;
	height: 240px;
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	padding-top: 35px;
	margin-top: 35px;
}

.home .wrapper #form-login.cpf .pirulas .texto {
	font-size: 32px;
	color: white;
	background-color: initial;
	border: none;
}

.home .wrapper #form-login.cpf .alert {
	position: absolute;
	top: -67px;
	left: 0px;
	width: 617px;
	line-height: 25px;
}

.home .wrapper #form-login .alert {
	line-height: 25px;
}

.home .wrapper #form-login.cpf .alert .close, .home .wrapper #form-login .alert .close{
	margin-left: 10px;
}

.home .wrapper #form-login .botao{
	position: relative;
	background-color: initial;
	border: none;
	font-size: 22px;
	right: 22px;
	bottom: 7px;
}

.home .wrapper #form-login .erro{
	margin-top: 14px;
}

.home .wrapper h1{
	font-size: 50px;
	text-align: center;
	color: rgb(44, 231, 44);
	padding-top: 13px;
}

.messages{
	top: -103px!important;
}

.home .wrapper #form-questao{
/* 	outline: solid 1px red; */
	width: 920px;
	height: 480px;
	margin: auto;
	margin-top: 50px;
	padding: 52px 32px;
	position: relative;
}

.home .wrapper #form-questao .titulo{
/* 	outline: solid 1px green; */
	height: 200px;
	margin: auto;
	background: black;
	color: white;
	font-size: 30px;
	overflow: auto;
	margin-bottom: 15px;
}

.home .wrapper #form-questao .alternativas{
/* 	outline: solid 1px orange; */
	height: auto;
	margin-bottom: 15px;
}

.home .wrapper #form-questao .alternativas .texto{
	font-size: 25px;
	height: 50px;
}

.home .wrapper #form-questao .alternativa{
	margin: 4px 0px;
}
.home .wrapper #form-questao .alternativa span{
	height: 50px;
}

.home .wrapper #form-questao .pirulas{
/* 	outline: solid 1px orange; */
	float: left;
}

.home .countdown{
/* 	outline: solid 1px red; */
	width: 200px;
	height: 100px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.home .fim{
	width: 924px;
	height: 756px;
	margin: 0 auto;
	display: none;
/* 	outline: solid 1px red; */
/* 	padding-top: 75px; */
}
.home .fim .grade{
	width: 100%;
	height: 100%;
	position: relative;	
}
.home .fim img{
/* 	outline: solid 1px green; */
}
.home .fim input{
	position: absolute;
	background-color: initial;
	border: none;
	width: 250px;
	height: 75px;
	bottom: 230px;
	left: 381px;
	text-indent: 9999px;
}
.show{
	display: visible;
}
